{% load static %}
{% static 'img' as baseURL %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>KHANABAZAAR/{{title}}</title>
     <!-- Required meta tags always come first -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <meta http-equiv="x-ua-compatible" content="ie=edge">
     <link rel="icon" type="image/png" href="{% static 'homeApp/img/khanabazaar.png' %}">
     
     <!--build:css css/main.css-->
     <link rel="stylesheet" href="{% static 'homeApp/modules/font-awesome/css/font-awesome.min.css' %}">
     <link rel="stylesheet" href="{% static 'homeApp/modules/bootstrap-social/bootstrap-social.css' %}">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="{% static 'homeApp/modules/bootstrap/dist/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'homeApp/css/confirm_foodman.css' %}">
     <link rel="stylesheet" href="{% static 'homeApp/css/styles.css' %}">
     <!--flickity-->
     <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
     <!--<script src="{% static 'homeApp/js/scripts.js' %}" async></script>-->
     <script src="{% static 'homeApp/js/confirm_foodman.js' %}" type="module" async></script>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script type="text/javascript" src="{% static 'homeApp/js/haversine.js' %}"></script>
     <!--endbuild-->
</head>

<body data-spy="scroll" >
    <!--stylish box -->
    <div class="container">
        <div class="row row-content">
            <div class="box">
                <div class="content">
                    <h1>Thanks for the Order</h1>
                    <i class="fa fa-check-circle fa-5x tick" aria-hidden="true"></i>
                    <h2 class="status">PENDING!Please wait for a moment!! </h2>
                    <a href="{% url 'homeApp:homepage' %}" class="redirect btn btn-danger" id="redirect" role="button" class="btn">Go back to homepage</a>
                    
                    <h2 class="place-name"></h2>
                    <h2 class="place-distance"></h2>
                </div>

            </div>
        </div>
        <div class="row row-content">
            <div class="col-12 col-sm-6 container2">
                <div class="box2">
                    <div class="imgbox">
                        <img src="{% static 'homeApp/img/phone2.jpg' %}">
                    </div>
                    <div class="content">
                        <div class="icon">
                            <img src="{% static 'homeApp/img/phone.png' %}">
                        </div>
                        <h2 class="foodman-status" style="margin-left: -4px;">FOODMAN WILL BE AVAILABLE SOON</h2>
                        <img class="img-fluid rounded foodman-image" style="height: 200px;width:280px;"  src="{{ baseURL }}/{{ foodman.image }}" class="img-fluid" alt="Foodman not found">
                        <h3 class="foodman-contact"></h3>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-6 container2">

                <div class="box2">
                    <div class="imgbox">
                        <img src="{% static 'homeApp/img/location4.jpg' %}" style="height: 650;width:600;">
                    </div>
                    <div class="content">
                        <div class="border-dark location-map" id="map" style="height: 520px; width: 100%;color:black"></div>
                        <h3 class="location-summary" style="display: none;">FOODMAN LOCATION NOT FOUND YET</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--end of stylish box-->
    <!--<div class="box">
        <div class="form">
            <h1>Thanks for the Order</h1>
            <i class="fa fa-check-circle fa-5x tick" aria-hidden="true"></i>
            <h2>Estimated Delivery time:Within 2 hours</h2>
            <a href="{% url 'homeApp:homepage' %}" role="button" class="btn">Go back to homepage</a>
            <h2>{{foodman.name}}</h2>
            <div class="border-dark" id="map" style="height: 520px; width: 500px;color:black"></div>
        </div>
    
    </div>-->
    <!--login popup-->
    <!--<div class="login-popup bg">
        <div class="box">
             <div class="img-area">
                 <div class="img">
                 </div>
                 -<h1>Your Logo</h1>
             </div>
             <div class="form">
                 <h1>Thanks for the Order</h1>
                 <i class="fa fa-check-circle fa-5x tick" aria-hidden="true"></i>
                 <h2>Estimated Delivery time:Within 2 hours</h2>
                 <a href="{% url 'homeApp:homepage' %}" role="button" class="btn">Go back to homepage</a>
                 <h2>{{foodman.name}}</h2>
                 <div class="border-dark" id="map" style="height: 520px; width: 100%;color:black"></div>
             </div>
        </div>
   </div>-->
   <form action="{% url 'homeApp:confirm_foodman' %}" method="POST" style="overflow: auto;max-height:560px" hidden>
    {% csrf_token %}
        <input name="location" id="location" value="20,65" hidden>
        <input name="order_id" id="order_id" value={{order_id}} hidden>
        <input name="verify" id="verify" value={{verify}} hidden>
        <input name="foodman_name" id="foodman_name" value={{foodman.name}} hidden>
        <input name="foodman_location" id="foodman_location" value={{foodman.foodman_location}} hidden>
        <input name="foodman_location2" id="foodman_location2" value={{foodman.foodman_location}} hidden>
        <input name="foodman_phn" id="foodman_phn" value={{foodman.foodman_phone}} hidden>
        <input name="foodman_status" id="foodman_status" value={{foodman.status}} hidden>
        <input name="distance" id="distance" hidden>
        <input name="vehicle" id="vehicle" value="{{foodman.vehicleType}}" hidden>
        <button type="submit" id="submit_pop" class="btn" hidden>Confirm Checkout & Continue</button>


    </form>
   
   
   
    <!--end of login popup-->
    <!--end of login popup--> 
        

        

        <!--end of cart overlay-->
<!-- jQuery first, then Popper.js, then Bootstrap JS. -->
     <!--build:js js/main.js-->
     <script src="{% static 'homeApp/modules/jquery/dist/jquery.slim.min.js' %}"></script>
     <script src="{% static 'homeApp/modules/popper.js/dist/umd/popper.min.js' %}"></script>
     <script src="{% static 'homeApp/modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
     <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
     <script type="text/javascript" src="{% static 'homeApp/js/haversine.js' %}"></script>
     <!--endbuild-->
</body>
</html>