{% load static %}
{% static 'img' as baseURL %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>KHANABAZAAR</title>
     <!-- Required meta tags always come first -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <meta http-equiv="x-ua-compatible" content="ie=edge">
     <link rel="icon" type="image/png" href="{% static 'homeApp/img/khanabazaar.png' %}">
     
     <!--build:css css/main.css-->
     <link rel="stylesheet" href="{% static 'homeApp/modules/font-awesome/css/font-awesome.min.css' %}">
     <link rel="stylesheet" href="{% static 'homeApp/modules/bootstrap-social/bootstrap-social.css' %}">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="{% static 'homeApp/modules/bootstrap/dist/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'homeApp/css/styles.css' %}">
     <link rel="stylesheet" href="{% static 'homeApp/css/wrapper.css' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
     <!--flickity-->
     <link rel="stylesheet" type="text/css" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
     <!--endbuild-->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
</head>

<body class="background" data-spy="scroll">
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm fixed-top">
        <div class="container">
            <!--responsive navbar-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="{% static 'homeApp/img/khanabazaar.png' %}" alt="LOGO" width="41" height="30">
                <span>KHANABAZAAR</span></a>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="{% url 'homeApp:homepage' %}"><span class="fa fa-home fa-lg"></span> Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homeApp:aboutus' %}"><span class="fa fa-info fa-lg"></span> AboutUs</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homeApp:contactus' %}"><span class="fa fa-address-card fa-lg"></span> Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homeApp:index' %}?action=logout" role="button" id="login"><i class="fa fa-sign-out-alt"></i>Sign out</a></li>
                    <li class="nav-item"><a class="nav-link" id="customer_name"><i class="fa fa-user"></i> {{customer_name}}</a></li>
                </ul>
                <!--modal button-->
            </div>
           

        </div>

    </nav>

    




    <!--creating modal-->
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js">
        $(document).ready(function(){
        const review_form = document.querySelector('.review_form');
        console.log(review_form);
        console.log('gsfgsdsf');
        review_form.addEventListener('submit',function(e){
            e.preventDefault();
            const formData = new FormData(this);
            /*--------ajax--------*/
            
            $.ajax({
                type: 'POST',
                url: 'homepage',
                csrfmiddlewaretoken:$('input[name=csfrmiddlewaretoken]').val(),
                data:{
                    formData
    
                },
                success:function(){
                    alert("created new user");
    
                }
              });
        });
        });

    </script>-->
    {% for order in orders %}
    <div id="reserve{{order.order_id}}" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <div class="modal-content">
                <div class="modal-header" >
                    <img class="restaurant-image" src="{{baseURL}}/{{order.restaurant_path}}" style="display: inline-block;"  alt="restaurant1" width="220" height="160">
                    <br>
                    <h1 class="modal-food" style="padding-left: 14%;">{{order.restaurant_name}}</h1>
                    <span class="modal-price">Order Time: {{order.order_time}} <br> Delivery Time: {{order.delivery_time}}</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                </div>
                <div class="modal-body" style="background-color: turquoise;">
                    <!--modal form-->
                    <form class="review_form" method="POST" action="{% url 'homeApp:homepage' %}" >
                        {% csrf_token %}
                        <input name="restaurant_id" value="{{order.restaurant_id}}" hidden>
                        <input name="pay_id" value="{{order.pay_id}}" hidden>
                        
                        <div class="form-group row">
                            <label for="feedback" class="col-md-2 col-form-label ">Your Feedback</label>
                            <div class="col-md-8 form_pad">
                                <textarea class="form-control form-box" id="feedback" name="feedback" rows="10" ></textarea>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="imagefile" style="top:4px;" class="col-md-2 col-form-label ">Image Review</label>

                            <div class="col-md-3 ">
                                <input style="margin-top: 16px;" type="file" id="imagefile" name="imagefile" title="choose file" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="rating" style="top:4px;" class="col-md-2 col-form-label ">Review</label>
                            <div class="col-md-4 rating" style="margin-top: -11px; margin-left:-55px">
                                <input type="radio" name="star" id="star5{{order.order_id}}" value="5"><label for="star5{{order.order_id}}"></label>
                                <input type="radio" name="star" id="star4{{order.order_id}}" value="4"><label for="star4{{order.order_id}}"></label>
                                <input type="radio" name="star" id="star3{{order.order_id}}" value="3"><label for="star3{{order.order_id}}"></label>
                                <input type="radio" name="star" id="star2{{order.order_id}}" value="2"><label for="star2{{order.order_id}}"></label>
                                <input type="radio" name="star" id="star1{{order.order_id}}" value="1"><label for="star1{{order.order_id}}"></label>
                            </div>
                        </div>
                        <div class="form-row">
                            <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                            <button type="submit" id="submit" class="btn btn-primary btn-sm ml-1">Submit Review</button>        
                        </div>
                    </form>
                    
                </div>

            </div>
        </div>

    </div>
    {% endfor %}
    

    
    
    <header class="jumbotron">
        <div class="container header-content">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="title">
                        <h1 class="ml-0">🅺🅷🅰🅽🅰🅱🅰🆉🅰🅰🆁</h1>
                    </div>
                    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations will tickle your culinary senses!</p>
                </div>
                <div class="col-12 col-sm-3 mt-0">
                    <img src="{% static 'homeApp/img/khanabazaar.png' %}" class="img-fluid">
                </div>
                <div class="col-12 col-sm-2 ml-1 align-self-center">
                    <button class="review-button btn btn-white btn-animate" >
                        <i class="fa fa-comments">Review Us</i></button>
                    <div class="dropdown-list">
                        <ul class=" active scrollable-menu" role="menu" style="height: auto;max-height: 160px; overflow-x: hidden;">
                            {% for order in orders %}
                                <li><a data-target="#reserve{{order.order_id}}" data-toggle="modal" role="button">Order ID: {{order.order_id}}</a></li>

                            {% endfor %}
                        </ul>
                    </div>
                        <script>
                        $(document).ready(function(){
                        $('.review-button').click(function(){
                            $('.dropdown-list').toggleClass('active');
                        });
                    });
                        </script>
                    
                </div>
                 
            </div>
        </div>
    </header>
    <!--{#    <div class="row row-content">#}
        <div class="" style="height: 400px;" id="map">

        </div>
        {#    </div>#}-->

    <div class="container background">
        <!--adding carousel-->
        <div class="row row-content">
            <div class="col-12 col-sm-12">
                <div id="mycarousel" class="carousel slide" data-ride="carousel" >
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid"
                                src="{% static 'homeApp/img/saiful.jpg' %}" alt="alberto" height="2000" width="600">
                            <div class="carousel-caption d-none d-md-block">
                                <h1 style="color: rgb(238, 96, 61);font-weight:800">Saiful Islam</h1>
                                <h4 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:darkmagenta">CO-FOUNDER</h4>
                                <p style="color: rgb(92, 22, 80);font-weight:700;letter-spacing:0.1rem">Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the culinary world, he specializes in creating mouthwatering Indo-Italian fusion experiences. </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid"
                                src="{% static 'homeApp/img/khanabazaar2.png' %}" alt="Uthappizza" height="auto" width="600">
                            <div class="carousel-caption d-none d-md-block">
                                <h1 style="color: rgb(233, 220, 38);font-weight:800">We Serve & Honoured </h1>
                                <p style="color: rgb(177, 55, 18);font-weight:700;letter-spacing:0.1rem">We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations will tickle your culinary senses!</p>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <img class="d-block img-fluid"
                                src="{% static 'homeApp/img/koushic.jpg' %}" alt="alberto" height="2000" width="600">
                            <div class="carousel-caption d-none d-md-block">
                                <h1 style="color: rgb(224, 19, 115);font-weight:800">Koushic Roy</h1>
                                <h4 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color:rgb(12, 5, 5)">CO-FOUNDER</h4>
                                <p style="font-weight: 700;letter-spacing:0.1rem;color:rgb(35, 75, 53)">Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the culinary world, he specializes in creating mouthwatering Indo-Italian fusion experiences. </p>
                            </div>
                        </div>
                    </div>
                    <!--MANUAL CONTROL-->
                    <ol class="carousel-indicators">
                        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#mycarousel" data-slide-to="1"></li>
                        <li data-target="#mycarousel" data-slide-to="2"></li>
                    </ol>
                    <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                    <button class="btn btn-danger btn-sm" id="carouselButton">
                        <span id="carousel-button-icon" class="fa fa-pause"></span>
                    </button>
                </div>
             </div>
        </div>
                
        <div class="row restaurant-search-row-header">
            <form action="{% url 'homeApp:restaurant' %}" class="form-inline" method="POST">
                {% csrf_token %}
                <input type="text" name="email" class="form-control" id="" value="None" hidden>
                <input type="text" name="password" class="form-control" id="" value="None" hidden>
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar">
                    <input class="search_input" type="text" name="restaurant" id="" placeholder="Search...">
                    <button type="submit" class="search_icon search_btn"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row restaurant-row-header">
            <div class="col-12 col-sm-4 col-md-5">
                <h3>Popular Restaurants</h3>
            </div>
        </div>
        <!--restaurant 1st row-->
        <div class="carousel restaurant-row-content carousel-bg" data-flickity='{ "wrapAround": true }'>
            {% for restaurant in list1 %}
                <div class="carousel-cell ">
                    <div class="fig-container">
                        <a href="{% url 'homeApp:restaurant' %}?action={{restaurant.name}}" role="button"><img src="{{baseURL}}/{{restaurant.path}}" width="295px" height="190px" alt="restaurant1"></a>
                        <div class="overlay"><h4>{{restaurant.name}}</h4></div>
                    </div>
                </div>
            {% endfor %}
        </div> 

        <div class="carousel restaurant-row-content carousel-bg" data-flickity='{ "wrapAround": true }'>
            {% for restaurant in list2 %}
                <div class="carousel-cell ">
                    <div class="fig-container">
                        <a href="{% url 'homeApp:restaurant' %}?action={{restaurant.name}}" role="button"><img src="{{baseURL}}/{{restaurant.path}}" width="295px" height="190px" alt="restaurant1"></a>
                        <div class="overlay"><h4>{{restaurant.name}}</h4></div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="carousel restaurant-row-content carousel-bg" data-flickity='{ "wrapAround": true }'>
            {% for restaurant in list3 %}
                <div class="carousel-cell ">
                    <div class="fig-container">
                        <a href="{% url 'homeApp:restaurant' %}?action={{restaurant.name}}" role="button"><img src="{{baseURL}}/{{restaurant.path}}" width="295px" height="190px" alt="restaurant1"></a>
                        <div class="overlay"><h4>{{restaurant.name}}</h4></div>
                    </div>
                </div>
            {% endfor %}
        </div>
            
           <!-- <div class="carousel-cell ">
                <div class="fig-container">
                    <img src="{% static 'homeApp/img/rest1.png' %}" width="295px" height="190px" alt="restaurant1">
                    <div class="overlay"><h4>Dominos</h4></div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="fig-container">
                    <img src="{% static 'homeApp/img/rest2.png' %}" width="295px" height="190px" alt="restaurant1">
                    <div class="overlay"><h4>Manhattan</h4></div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="fig-container">
                    <img src="{% static 'homeApp/img/rest3.png' %}" width="295px" height="190px" alt="restaurant1">
                    <div class="overlay"><h4>Chillox</h4></div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="fig-container">
                    <img src="{% static 'homeApp/img/rest4.png' %}" width="295px" height="190px" alt="restaurant1">
                    <div class="overlay"><h4>Deck 13</h4></div>
                </div>
            </div>-->
        
        <!-- restaurant 2nd row-->

        <!--previous version


        <div class="row restaurant-row-content">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="fig-container">
                    <img src="{% static 'homeApp/img/rest5.png' %}" width="250px" alt="restaurant1">
                    <div class="overlay"><h4>Medchef</h4></div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="fig-container">
                    <img src="{% static 'homeApp/img/rest6.png' %}" width="250px" alt="restaurant1">
                    <div class="overlay"><h4>Yum Cha</h4></div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="fig-container">
                    <img src="{% static 'homeApp/img/rest7.png' %}" width="250px" height="169px" alt="restaurant1">
                    <div class="overlay"><h4>NorthEnd</h4></div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="fig-container">
                    <img src="{% static 'homeApp/img/rest8.png' %}" width="250px" height="169px" alt="restaurant1">
                    <div class="overlay"><h4>Secret Recipe</h4></div>
                </div>
            </div>
        </div>-->
        <div class="row row-content" id="reservation" >
            <div class="col-12 col-sm-8 offset-sm-2">
                <div class="card">
                    <h3 class="card-header bg-dark text-white">About Us </h3>
                    <div class="card-body">
                        <h4 class="card-body-header">Dedicated to service you with the best food.</h4>
                        <p>Our mission is to make contactless restaurant menus 
                            the de facto standard for the dine-in experience.
                             We’re reinventing the traditional menu making it safer,
                              interactive, instantly changeable and more cost effective.</p>
                       
                    </div>            
                </div>
            </div>
        </div>
    </div>

    <footer class="footer" >
        <div class="container">
            <div class="row justify-content-center">             
                <div class="col-4 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
		              121, Clear Water Bay Road<br>
		              Clear Water Bay, Kowloon<br>
		              HONG KONG<br>
		              <i class="fa fa-phone fa-lg"></i> Tel.: +852 1234 5678<br>
		              <i class="fa fa-fax fa-lg"></i> Fax: +852 8765 4321<br>
		              <i class="fa fa-envelope fa-lg"></i> Email: <a href="mailto:confusion@food.net">confusion@food.net</a>
		           </address>
                </div>
                <!--col aligning vertically center-->
                <div class="col-12 col-sm-4 align-self-center">
                    <div>
                        <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google fa-lg"></i> Google+</a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i> Facebook</a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i> LinkedIn</a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i> Twitter</a>
                        <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i> YouTube</a>
                        <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i> Mail</a>
                    </div>
                </div>
           </div>
           <div class="row">             
                <div class="col-auto">
                    <p>© Copyright 2018 Ristorante Con Fusion</p>
                </div>
           </div>
        </div>
    </footer>
     <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
     <!--build:js js/main.js-->
     <script src="{% static 'homeApp/modules/jquery/dist/jquery.slim.min.js' %}"></script>
     <script src="{% static 'homeApp/modules/popper.js/dist/umd/popper.min.js' %}"></script>
     <script src="{% static 'homeApp/modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'homeApp/js/scripts.js' %}"></script>
     <script src="{% static 'homeApp/js/form.js' %}"></script>
     <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
     <!--endbuild-->

     <!--tootip function
     <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
          })
    </script>-->
   
</body>


</html>