{% load static %}
{% static 'img' as baseURL %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>KHANABAZAAR/{{title}}</title>
     <!-- Required meta tags always come first -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <meta http-equiv="x-ua-compatible" content="ie=edge">
     <link rel="icon" type="image/png" href="{% static 'homeApp/img/khanabazaar.png' %}">
     
     <!--build:css css/main.css-->
     <link rel="stylesheet" href="{% static 'homeApp/modules/font-awesome/css/font-awesome.min.css' %}">
     <link rel="stylesheet" href="{% static 'homeApp/modules/bootstrap-social/bootstrap-social.css' %}">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="{% static 'homeApp/modules/bootstrap/dist/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'homeApp/css/restaurant.css' %}">
     <link rel="stylesheet" href="{% static 'homeApp/css/login_popup.css' %}">
     <!--flickity-->
     <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
     <!--<script src="{% static 'homeApp/js/scripts.js' %}" async></script>-->
     <script  type = "text/javascript" src="{% static 'homeApp/js/login_rest.js' %}" async></script>
     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
     <!--endbuild-->
</head>

<body data-spy="scroll">
    <!--login popup-->
    <div class="login-popup">
        <div class="box">
             <div class="img-area">
                 <div class="img">
                 </div>
                 <!--<h1>Your Logo</h1>-->
             </div>
             <div class="form">
                 <div class="close">&times;</div>
                 <h1>Log In</h1>
                 <form action="{% url 'homeApp:restaurant' %}" method="POST">
                     {% csrf_token %}
                     <div class="form-group">
                        <input type="text" name="restaurant" class="form-control" id="restaurant_pop" value="{{title}}" readonly>
                     </div>
                     <div class="form-group">
                        <input type="email" name="email" class="form-control" id="loginemail_pop" placeholder="Enter email">
                     </div>
                     <div class="form-group">
                        <input type="password" name="password" class="form-control" id="password_pop" placeholder="Password">
                     </div>
                     <div class="form-group">
                         <label><input type="checkbox">
                             Remember Me
                         </label>
                     </div>
                     <button type="submit" id="submit_pop" class="btn">Log In</button>
                 </form>
             </div>
        </div>
   </div>
    <!--end of login popup-->
    <!--login modal-->
    <div id="loginModal" class="modal fade" role="dialog" >
        <div class="modal-dialog modal-md" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Login</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                </div>
                <div class="modal-body">
                    <!--modal form-->
                    <form action="{% url 'homeApp:restaurant' %}" method="POST">
                        {% csrf_token %}
                        <input type="text" name="restaurant" class="form-control" id="restaurant_modal" value="{{title}}" hidden>
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                    <label class="sr-only" for="exampleInputEmail3">Email address</label>
                                    <input type="email" name="email" class="form-control form-control-sm mr-1" id="loginemail" placeholder="Enter email">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="sr-only" for="password">Password</label>
                                <input type="password" name="password" class="form-control form-control-sm mr-1" id="password" placeholder="Password">
                            </div>
                            <div class="col-sm-auto">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"> Remember me
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                            <button type="submit" id="submit" class="btn btn-primary btn-sm ml-1">Sign in</button>        
                        </div>
                    </form>

                </div>

            </div>

        </div>

    </div>
    <!--end of login modal-->

    
    {% if path == None %}
    <h1>no result found</h1>
    <a href="{% url 'homeApp:index' %}" style="background-color: rgb(10, 10, 10); color:cornsilk;font-size:30px">Back to Home Page</a>
    {% endif %}
    {% if path is not None %}
        <nav class="navbar navbar-dark bg-dark navbar-expand-sm fixed-top">
            <div class="container">
                <!--responsive navbar-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="{% static 'homeApp/img/khanabazaar.png' %}" alt="LOGO" width="41" height="30">
                    <span>KHANABAZAAR</span></a>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'homeApp:homepage' %}"><span class="fa fa-home fa-lg"></span> Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'homeApp:aboutus' %}"><span class="fa fa-info fa-lg"></span> AboutUs</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'homeApp:contactus' %}"><span class="fa fa-address-card fa-lg"></span> Contact</a></li>
                        <li class="nav-item"><a class="nav-link" role="button" id="login"><span class="fa fa-sign-in"></span> Sign in</a></li>
                        <li class="nav-item">
                            <a class="cart-btn cart-link" href="#">
                            <span class="fa fa-cart-plus fa-2x "></span>
                            <span class="cart-items">0</span>
                            </a>
                        </li>
                    </ul>
                    <!--modal button-->

                    
                </div>
            

            </div>

        </nav>
        
        <div class="landing">
            <div class="home-wrap">
                <div style="background-image: url('{{baseURL}}/{{path}}');" class="top">
                    <span class="welcome">Welcome to</span>
                    <span class="title">{{title}}</span>
                    <span hidden class="id">{{ID}}</span>
                </div>
            </div>
        <div>
        <div class="container-fluid background">
            {% for type in all_types %}
            <div class="row restaurant-row-content">
                <div class="col-sm-12 mr-7 col-md-5">
                    <h2>{{type}}</h2>
                </div>
            </div>
            <div class="row restaurant-row-content">
                {% for food in foods %}
                    <div>
                        {% if food.type == type %}
                            <!--cart modal-->
                            <div id="reserve{{food.id}}" class="modal fade" role="dialog">
                                <div class="modal-dialog modal-lg" role="content">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-food">{{food.name}}</h3>
                                            <span class="modal-price">BDT {{food.price}}</span>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                        </div>
                                        <div class="modal-body">
                                            <!--modal form-->
                                            <form>
                                                <div class="form-row">
                                                    <label for="guests" class="col-md-2">count</label>
                                                    <div class="col-md-3">
                                                        <input type="number" min="1" value="1" class=" count ">
                                                    </div>
                                                    <div class="col-md-7">
                                                        <!--confirm amount-->
                                                        <button type="button" class="confirm btn btn-outline-danger">Add to cart</button>
                                                        

                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <label for="amount" class="col-md-2">Total amount</label>
                                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                        <label class="total-price" for="amount">0</label>
                                                    </div>          
                                                </div>
                                                <div class="form-row">
                                                    <label for="datetime" class="col-12 col-md-2">Date and Time</label>
                                                        <div class="col-12 col-md-3">
                                                            <input type="text" class="form-control" id="date" name="datetime" placeholder="Date">
                                                        </div> 
                                                        <div class="col-12 col-md-3">
                                                            <input type="text" class="form-control" id="time" name="datetime" placeholder="Time">
                                                        </div>
                                                </div>
                                                <div class="form-row">
                                                    <button type="button" class="btn btn-secondary btn-lg ml-auto" data-dismiss="modal">Cancel</button>
                                                    
                                                    <button class="cart-submit btn btn-primary shop-item-button" type="button">CONFIRM</button>        
                                                </div>
                                            </form>

                                        </div>

                                    </div>
                                </div>

                            </div>
                            
                            <!--end of cart modal-->
                            <div class="fig-container food-item">
                                <img class="food-image" src="{{baseURL}}/{{food.path}}"  alt="restaurant1">
                                <div class="overlay ">
                                    <span class="food-name">{{food.name}}<br>
                                    {{food.price}}tk
                                    </span>
                                    <!--<button class="button add_cart" data-target="#loginModal" data-toggle="modal" role="button">-->
                                    <button class="button add_cart" role="button">
                                    </button>
                                    <!--script for modal-->
                                    <script type="text/javascript">
                                    </script>
                                    <!--end of modal script-->
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
            <!--cart overlay-->
            <div class="cart-overlay">
                <div class="cart">
                    <form action="{% url 'homeApp:payment' %}" class="form-inline" method="POST">
                    {% csrf_token %}
                    <span class="close-cart">
                        <i class="fa fa-window-close"></i>
                    </span>
                    <h2>Your Cart</h2>
                    <div class="cart-content">
                        <!--cart items-->
                        <!--<div class="added-to-cart">
                            

                        </div>-->

                    </div>
                    <div class="cart-footer">
                        <h3 >Your Total : $
                            <span class="cart-total">0
                            </span>
                        </h3>
                        <button class="clear-cart banner-btn">Clear Cart</button>
                        <input hidden name="price" class="form-price">
                        <input hidden name="foods" class="form-food">
                        <input hidden name="counts" class="form-count">
                        <input hidden name="prices" class="form-perprice">
                        <input hidden name="restaurant" class="form-restaurant">
                        <input hidden name="items" class="form-items">
                        <button class="order order-btn" type="submit">Order now</button>
                        
                    </div>
                    </form>

                </div>

            </div>

            <!--end of cart overlay-->

            <!--previous static version
            <div class="row restaurant-row-content">
                <div class="col-12 col-sm-12">
                    <h2>BURGERS</h2>
                </div>
            </div>
            <div class="row restaurant-row-content">
                <div>
                    <div class="fig-container">
                        <img class="food-image" src="{% static 'homeApp/img/food5.png' %}"  alt="restaurant1">
                        <div class="overlay"><span>CHEEZ BURGER<br>
                            BDT 500</span>
                            <button class="button">
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>-->
            
            <!--end of previous static version-->
        </div>
    {% endif %}

     <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
     <!--build:js js/main.js-->
     <script src="{% static 'homeApp/modules/jquery/dist/jquery.slim.min.js' %}"></script>
     <script src="{% static 'homeApp/modules/popper.js/dist/umd/popper.min.js' %}"></script>
     <script src="{% static 'homeApp/modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
     <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
     <script src="{% static 'homeApp/js/scripts.js' %}"></script>
     <!--endbuild-->

     <!--tootip function
     <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
          })
    </script>-->
   
</body>


</html>